<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441616491404-1apnsutlgk6r41l9hrklq7klfen5160l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441616491404-1apnsutlgk6r41l9hrklq7klfen5160l</string>
	<key>API_KEY</key>
	<string>AIzaSyB2Lvthhi8l6w3-k7rNfWXxOpY84laHETw</string>
	<key>GCM_SENDER_ID</key>
	<string>441616491404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noelpettersson.MovieRater</string>
	<key>PROJECT_ID</key>
	<string>movierater-5d8b4</string>
	<key>STORAGE_BUCKET</key>
	<string>movierater-5d8b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441616491404:ios:b1e397311638498407aca9</string>
</dict>
</plist>